::-webkit-scrollbar {
width: 0px;
height: 0px;
background: black;}

body{
                background-image: url("../img/bg.png");
				background-color: #000000;
                background-size: auto;
                font-family: Verdana, Geneva, sans-serif;
}

button {
				cursor: pointer;
}

h1{				
				font:Verdana, Geneva, sans-serif;
                font-size:20px;
                text-align:center;
                color: #ffffff;
                font-family: Verdana, Geneva, sans-serif;
}

#outerWrapper{
				height:100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
}

#header{
                font:Verdana, Geneva, sans-serif;
                font-size:36px;
                text-align:center;
                color: #ffffff;
                font-family: Verdana, Geneva, sans-serif;
				font-weight: bold;
                padding-bottom:2%;
				text-shadow: 5px 5px 3px #000,
							 0px 0px 3px #000;
}

#headerWrapper{
                display: flex;
}

#gameControl{
				width: 50%;
				margin: auto;
				text-align: right;
				padding-right:20px;
				display: table;
				float:right;
				
}

table{
				margin-left:auto;
				padding:5px;
				text-align:center;
				
}

td{
				width:100px;
				height:30px;
				
}

td > button{
				width: 120px;
				height: 30px;
				margin: 3px;
				border-radius: 5px;
				
}

.hintbutton{
				height: 40px;
				width: 150px; /* 210px; */
				margin: 3px;
				background-color: #555;
				color:#fff;
				font-weight:bold;
				font-size:20;
				cursor: pointer;
				border-radius: 8px;
				text-shadow: 2px 2px 5px #000,
							 0px 0px 1px #000;
}

#riddleWrapper{
				width: 50%;
				margin:auto;
				padding-left:20px;
}

.riddles{
				margin:auto;
				text-align: center;
				display:table;
				float: left;
}

.riddles > button{
				width: 100px;
				height: 25px;
				margin: 3px;
				border-radius: 5px;
}

#notaus{
				position:absolute;
				top:50px;
				right:30px;
			
}

#notaus>img{
				height:140px;
				cursor:pointer;
}

#button{
                font:Verdana, Geneva, sans-serif;
                font-size:14px;
                font-family: Verdana, Geneva, sans-serif;
                color: #000;
				width:220px;
				background-color: #fff;
				border: 2px solid #ccc;
				border-radius: 8px;
				font-weight:bold;
				padding: 5px 10px;
				text-decoration: none;
				margin: 4px 2px;
				cursor: pointer;
}



#logo_img{
                position:inherit;
                alignment-adjust:middle;
                width:10%;
                background-position: center;
                padding-top:2%;
}

.bs_input, #hintDropdown{
                width:60%;
                font:Verdana, Geneva, sans-serif;
                font-size:16px;
                font-family: Verdana, Geneva, sans-serif;
                color: #000;
                margin: 10px;
                border: 1px solid #ccc;
                border-radius: 10px;
                padding: 5px;
}

#hintDropdown{
                color: #fff;
                background-color:#111;
}

.bs_input:focus{
	            background-color: #ddd;
}


.varform {
				font-size:20px;
                font-family: Verdana, Geneva, sans-serif;
                color: #ffffff;
				text-shadow: 3px 3px 1px #000,
							 0px 0px 0px #000;
}

.saveHint{
				margin-bottom:-12px;
                height:40px;
}

.saveHint:hover{
                -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
				cursor:pointer;

}

.saveHint:active{
                -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0,0, 1));
				cursor:pointer;
}


input[type=submit], input[type=button], button[type=button]{
				background-color: #fff;
				border: 2px solid #ccc;
				border-radius: 8px;
				color: white;
				font-weight:bold;
				padding: 5px 10px;
				text-decoration: none;
				margin: 4px 2px;
				cursor: pointer;
}


.time{
				color:#fff;
				font-family:Verdana;
				font-size:20px;
				font-weight:bold;
}

.timebutton > img{
				width: 100%;
}

#riddleBottomWrapper{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
}

.riddlesCloseBottom{
				width: 80%;
				margin:auto;
				margin-top:auto;
				text-align: center;
				display:table;
				bottom:0;
				
}


.riddlesCloseBottom > button{
					width: 100px;
					height: 25px;
					margin: 3px;
					background-color: #111;
					color:#eee;
					border-radius: 5px;
					border: 1px solid #666;
}


.commonHints{
			margin:auto;
}

textarea{
			width: 200px;
			height:150px;
			resize:none;
			background-color:#111;
			color: #fff;
			font-size:14px;
            font-family: Verdana, Geneva, sans-serif;
			margin:5px;
			border-radius:5px;
			border: 1px solid #666;
			text-align:center;
			padding:5px;
			cursor:pointer;
}

textarea:hover{
			background-color:#333;
}

#admin{
		height:100%;
		width:100%;
}
